#place1 {filter:expression(fixPNG(this));}
#place2 {filter:expression(fixPNG(this));}
#place3 {filter:expression(fixPNG(this));}
#place4 {filter:expression(fixPNG(this));}
#place5 {filter:expression(fixPNG(this));}
#place6 {filter:expression(fixPNG(this));}
#place7 {filter:expression(fixPNG(this));}
#place8 {filter:expression(fixPNG(this));}